@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

:root {
  --background: #edf6f9;
}

* {
  background-color: var(--background);
  font-family: Golos Text;
}

.App{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.App input {
  margin-top: 20px;
  width: 300px;
  height: 30px; 
  font-size: 20px;
  padding-left: 10px; 
}

p {
  margin: 10px;
  font-size: 18px;
}

img {
  border-radius: 30px;
  max-width: 1000px;
}
