
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.imgsize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    object-fit: contain;
}

.textsize{
  font-size: 15px;
  color: #403e3ed9;
  padding-bottom: 10px;
}

.texta{
  text-align: center;
  padding: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.samel {
  display: inline-block;
}

.joke {
  color: #656565c5;
  font-size: 20px;
  padding-right: 30px;
}

.benzene {
  border: none;
  padding-top: 50px;
}

.benimg {
  display:flex;
  justify-content: center; /* horizontally center */
  align-items: center;    /* vertically center */
}

.container {
  justify-content: center; /* horizontally center */
  align-items: center;
  position: absolute;
  position: relative;
  width: 50%;
}

.imga {
  display: block;
  width: 100%;
  height: auto;
}

.hover_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 4.0s ease;
} 

.container:hover .hover_img {
  transition-delay: 2.5s;
  opacity: 1;
}

* {box-sizing: border-box}

